@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400,500;1,400&family=Roboto:wght@400;700&display=swap');

/* resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{

    font-family: 'poppins', sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;

}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}
/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
    
}

.flex{
    display: flex;
    align-items: center;
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-in-out;

}

.hover-links:hover {
    color: var(--accent-color-dark);
    
}

.primary-button{
    background-color: var(--accent-color-dark);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 12px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-button:hover { 
    background-color: var(--accent-color-dark);
    color: var(--primary-text-color) !important;
}


.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 12px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/* top-banner */

.top-banner{
    background-color: #1492f2;
    background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b7e4d7973addf81ed1f4010_pattern.png);
    background-size: 300px;
    

}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

ul{
    list-style: none;
}

/* nav-bar */

.main-nav{
    margin: 20px;
    justify-content: space-between;
    position: relative;

}

.company-logo img{
    width: 200px;
}



.nav-links{
    flex-basis: 700px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-toggle{
    display: none;
}

/* header section */
header{
    padding: 50px var(--padding-inline-section);
}

.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}

.get-started-btn{
    margin: 20px;
}

.header-right img{
    width: 100%;
}

/* companies section */

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}

.logos{
    justify-content: space-evenly;
    margin: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.logo{
    height: 50px;
    
}

.feature-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5af98b9f779b5a7d0a80351e_Oval%201.svg);
    background-repeat: no-repeat;
    background-position: center;
   
}

.feature-header{
    text-align: center;
    margin-bottom: 40px;
    
}

.feature-header h2 {
    margin-bottom: 20px;
}

.feature-area{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.feature-card{
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    max-width: 30%;
    text-align: center;
    flex-wrap: wrap;
}

.big-feature-section{
    margin: 30px;
    padding: 30px var(--padding-inline-section) 0;

}

#second-big-feature{
    flex-direction: row-reverse;
}

.big-feature-conatiner{
    gap: 30px;

}
.feature-image img{
    width: 100%;

}
.feature-description{
    flex-direction: column;
    align-items: center;
}
.design{
    padding: 5px;
    text-align: left;
}

.philips p{
    margin-bottom: 10px;
}

.philip-logo{
    width: 100px;
    margin-top: 10px;
}
.philip-image{
    width: 50px;
}

.chartmogul-logo{
    width: 100px;
    margin-top: 20px;
}

.chartmogul p{
    margin-bottom: 10px;
}
.chartmogul-image{
    width: 50px;
    margin-top: 10px
}
.economist-logo{
    width: 150px;
    margin-top: 20px;
}
.economist p{
    margin-bottom: 10px;
}

.economist-image{
    width: 50px;
    margin-top: 10px
}

/* example-header */

.example-section{
    padding: 50px var(--padding-inline-section);
}

.example-header
{
    text-align: center;  
     
}
.example-header h2
{
    margin-bottom: 20px;
   
}

.example-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.example-card
{
    width: 18%;
    position: relative;
    min-height: 300px;
    background: black;
    background-size: cover;
    
    margin-left: 100px;
    /* gap: 50px; */
    margin-top: 50px;
    gap: 50px;
    transition: 0.2s ease-out;
    
    
}

.example-card-text{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;
    gap: 50px;
    margin-right: 50px;
    transition: 0.2s ease-out;
}

.example-card:hover, .example-card-text:hover{
    box-shadow: 0 0 10px #888;
}

/* .example-card-text:hover{
    box-shadow: 0 0 10px #888;
} */

.card-text
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: aliceblue;
} 

.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}

.cta-section{
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #183b54;

}

.cta-section-container p{
    color: white;
    margin-top: 20px;

}

/* footer */

footer{
    padding-block: 80px;
    background-color: #ebf2fa;
   

}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

/* sub-footer */

.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);


}

.sub-footer-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

